.vs/**
.vscode/**
.idea/**
Backup/**
build/artifacts/**
src/**/.vscode/**
src/**/bower_components/**
src/**/bin
src/**/obj
src/**/Logs
src/**/appsettings.json
src/**/*.xproj.user
src/**/project.lock.json
src/**/build/**
src/**/config.js
test/**/bin
test/**/obj
test/**/project.lock.json
Autosave.vsix
VisualCommander_263.vsix
.DS_Store
.idea/**