@{
    ViewData["Title"] = "Reset pin confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Your pin has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
</p>
