<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Individual Customers </h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control" [(ngModel)]="query">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-primary" (click)="getIndividuals(1)">Search</button>
                </span>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Name</th>
              <th>Mobile Number</th>
              <th>Created At</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users | paginate : { itemsPerPage:size, currentPage:page, id : 1, totalItems:total }">
              <td>{{user.first_name}} {{user.last_name}}</td>
              <td>{{user.mobile_number.full_mobile_number}}</td>
              <td>{{user.created_at}}</td>
              <td>
                <a class="btn btn-success btn-xs" [routerLink]="['/users/individuals', user.id]">View</a>
              </td>
            </tr>
            <tr *ngIf="loading">
              <td colspan="4">Loading...</td>
            </tr>
            <tr *ngIf="!loading&&users.length==0">
              <td colspan="4">No customer found</td>
            </tr>
            </tbody>
          </table>
          <pagination-controls
            *ngIf="users.length"
            (pageChange) = "page = getIndividuals($event)"
            id="1"
            maxSize = "6"
            directionLinks = "true"
            autohide = "true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
