<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-8">

      <div class="profile-image">
        <img src="assets/images/profile_small.jpg" class="img-circle circle-border m-b-md" alt="profile">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h2 class="no-margins">
              {{user?.first_name}} {{user?.last_name}}
            </h2>
            <h4>Customer</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td>
            <i class="fa fa-phone"></i> {{user?.mobile_number.full_mobile_number}}
          </td>
          <td>
            <i class="fa fa-envelope"></i> {{user?.email_address?.address || "Not Added"}}
          </td>

        </tr>
        <tr>
          <td>
            <i class="fa fa-dollar"></i> {{user?.account.balance}} JMD
          </td>
          <td>
            <i class="fa fa-clock-o"></i> {{user?.created_at}}
          </td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-id-card"></i> {{user?.profile.trn || "Not Added"}}
          </td>
          <td>
            <i class="fa fa-calendar"></i> {{user?.profile.date_of_birth || "Not Added"}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>


  </div>
  <div class="row">
    <div class="col-lg-4">

      <div class="ibox">
        <div class="ibox-content">
          <h3>KYC Issues</h3>
          <table class="table table-bordered">
            <tbody>
            <tr>
              <td>
                <span class="label label-danger">Missing</span>
              </td>
              <td>
                <a href="#">
                  ISSUE-23
                </a>
                <br/>
                <small>
                  This is issue with the coresponding note
                </small>
              </td>
            </tr>
            <tr>
              <td>
                <span class="label label-danger">Missing</span>
              </td>
              <td>
                <a href="#">
                  ISSUE-17
                </a>
                <br/>
                <small>
                  Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                </small>
              </td>
            </tr>
            <tr>
              <td>
                <span class="label label-danger">Missing</span>
              </td>
              <td>
                <a href="#">
                  ISSUE-12
                </a>
                <br/>
                <small>
                  It is a long established fact that a reader will be
                </small>
              </td>
            </tr>
            <tr>
              <td>
                <span class="label label-danger">Missing</span>
              </td>
              <td>
                <a href="#">
                  ISSUE-11
                </a>
                <br/>
                <small>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                </small>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="col-lg-8">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" data-target="#tab-1"> Activities</a></li>
          <li class=""><a data-toggle="tab" data-target="#tab-2">Devices</a></li>
          <li class=""><a data-toggle="tab" data-target="#tab-3">History</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
              <div class="feed-activity-list">

                <div class="feed-element" *ngFor="let activity of activities">
                  <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="img/profile.jpg">
                  </a>
                  <div class="media-body ">
                    <small class="pull-right">5m ago</small>
                    <strong>Monica Smith</strong> posted a new blog. <br>
                    <small class="text-muted">Today 5:60 pm - 12.06.2014</small>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Location</th>
                  <th>Ip Address</th>
                  <th>Created at</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <div class="stream-small">
                <span class="label label-primary"> Add</span>
                <span class="text-muted"> Today at 10:30:50 pm </span> / <a href="#">Mike Smith</a>  Added new contact to the user group
              </div>
              <div class="stream-small">
                <span class="label label-success"> Comment</span>
                <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
              </div>
              <div class="stream-small">
                <span class="label label-success"> Comment</span>
                <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
              </div>
              <div class="stream-small">
                <span class="label label-success"> Comment</span>
                <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
              </div>
              <div class="stream-small">
                <span class="label label-primary"> Add</span>
                <span class="text-muted"> Yesterday at 10:02:33 pm </span> / <a href="#">Camila Farter</a> Added new file to project.
              </div>
              <div class="stream-small">
                <span class="label label-warning"> Activity</span>
                <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
              </div>
              <div class="stream-small">
                <span class="label label-warning"> Activity</span>
                <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
              </div>
              <div class="stream-small">
                <span class="label label-warning"> Activity</span>
                <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
              </div>
              <div class="stream-small">
                <span class="label label-warning"> Activity</span>
                <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
              </div>
              <div class="stream-small">
                <span class="label label-default"> Note</span>
                <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">Michael Miggel</a>  Commented on Ariana profile.
              </div>
              <div class="stream-small">
                <span class="label label-default"> Note</span>
                <span class="text-muted"> Today at 04:30:33 am </span> / <a href="#">Monica Jackson</a>  Commented on public board.
              </div>
              <div class="stream-small">
                <span class="label label-default"> Note</span>
                <span class="text-muted"> Today at 11:43:59 am </span> / <a href="#">Jessica Smith</a>  Commented on public board.
              </div>
              <div class="stream-small">
                <span class="label label-default"> Note</span>
                <span class="text-muted"> Today at 08:10:50 am </span> / <a href="#">John Dernex</a>  Add new item to stage zero.
              </div>
              <div class="stream-small">
                <span class="label label-default"> Note</span>
                <span class="text-muted"> Yesterday at 10:32:12 am </span> / <a href="#">Andrew Williams</a>  Joined to the new group.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

